@font-face {
  font-family: "Cafe24Moya";
  src: url("./fonts/Cafe24Moyamoya-Regular-v1.0.woff");
}

@font-face {
  font-family: "NexonLv1";
  src: url("./fonts/NEXON\ Lv1\ Gothic\ OTF.woff");
}

@font-face {
  font-family: "NexonLv1Bold";
  src: url("./fonts/NEXON\ Lv1\ Gothic\ OTF\ Bold.woff");
}

@font-face {
  font-family: "NexonLv1Light";
  src: url("./fonts/NEXON\ Lv1\ Gothic\ OTF\ Light.woff");
}

* {
  box-sizing : border-box;
}